@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* Importação da fonte do GoogleFonts - Bebas Neue */

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
} /*Utilização da fonte que está na pasta "/fontes". */



/* AS cores monocromáticas são:
#D8FFE3
#99E0AD
#5DB676
#116027
#13381E
*/

:root {
    --cor0: #D8FFE3;
    --cor1: #99E0AD;
    --cor2: #5DB676;
    --cor3: #116027;
    --cor4: #13381E; /*Variáveis de CSS para criar atalho para quando mudar uma das cores no projeto, mudar todas que estão iguais. */

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fontes-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', sans-serif;
} /*Variáveis de CSS para criar atalho para quando quiser utilizar uma fonte, mudar todas que estão iguais. */


* {
margin: 0px;
padding: 0px;
} /* Este asterisco é para configuração global. Tirou todas as margens e paddings da página.*/


body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao); /* Variável para fontes. */
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    min-height: 150px; /*Altura do header. */
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fontes-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);

}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
    
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.3s; /*Quando vc passa o mouse de um lugar para o outro, ele faz uma transiçãozinha entre os locais. */

}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor3);
    

}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; /* Colocando a especificidade de somente as bodas de baixo (esquerda e direita) estejam arredondadas. */
}

main h1 {
    color: var(--cor4);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor3);
    font-size: 1.3em; /*Diminuiu um pouquinho o tamanho da letra. */
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px; /*Deu um pequena tabulação no h2. */
}

main p {
    margin: 15px 0px 15px 0px; /*Ou 15px 0px. */
    text-align: justify; /*Justificou o texto dentro do main. */
    text-indent: 30px; /*Deu tabulação para os parágrafos. */
    font-size: 1em;
    line-height: 2em; /*Espaço entre as linhas. */

}

main strong {
    color: var(--cor3);
    font-weight: bold; /*Negrito. */
    
}

main a {
    text-decoration: none; /*Tirou o sublinhado dos links. */
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover { /*HOver é quando vc passa o mouse em cima da palavra ela muda as configurações. */
    text-decoration: underline;
    color: var(--cor3);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto; /*Seria o comando para centralizar a imagem, porém uma imagem, por padrão, não é um bloco, daí precisa do comando 'display' acima. */
}

div.video {
    background-color: var(--cor4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%; /*Para configurar as laterais pretas quando dá play no vídeo. */
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.267);
}
aside > h3 {
    background-color: var(--cor3);
    font-family: var(--font-android);
    font-weight: normal;
    color: var(--cor1);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside; /*Colocando as bolinhas pra dentro do aside. Normalmente elas ficam fora msm. */
    columns: 2; /*Dividiu as versões em 2 colunas. */
    list-style-type: '\2714\00A0\00A0'; /*Pega os números do 'check' no Emojipedia e coloca essa barra invertida (\). 
    \00A0 é o código para o espaço NBSP em HTML. Não é compatível com todo tipo de navegador. */
}

footer {
background-color: var(--cor3);
color: white;
text-align: center;
font-size: 0.8em;
padding: 5px;
}

footer a {
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}